*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(water.jpg);
    position: relative;
    background-size:cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
}
h1{
    font-size: 80px;
    margin: 10px 0px 30px;
    line-height: 80px;
}
.side-bar{
    width: 70px;
    height: 100vh;
    background:linear-gradient(#00545d, #000729);
    position: absolute;
    top: 0;
    right: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0px;
    cursor: pointer;

}
.social-links{
    position: relative;
    top: 12px;
    margin: 120px -6px ;
    display:block;
}
.linkage{
    margin: 9px;
    border: 2px solid #00545d;
    border-radius: 53px;
    transition: border 1.3s;
}
.linkage:hover{
    cursor: pointer;
    border: 2px solid blue;
}


.sign{
    padding: 10px 30px;
    border: none;
    
    color: rgb(228, 228, 228);
    background-color: #00545d;
    font-weight: bold;
    transition: color 1s, background-color 1.4s, border-radius 1.2s;
}
.sign:hover{
    cursor: pointer;
    background-color: rgb(27, 110, 205);
    color: #000729;
    border-radius: 19px;
}
.take{
    padding: 8px 15px;
    border: 2px solid  #00545d;
    font-weight: bold;
    border-radius: 12px 20px;
    background-color: transparent;
    color: white;
    transition: border 1.2s;
}
.take:hover{
    border: 2px solid white;
    cursor: pointer;
}
.touches{
    position: relative;
    border: none;
    margin: 10px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 34px;
    background-color: rgb(63, 54, 197);
    transition: background-color 1s;
}
.touches:hover{
    background-color: rgb(118, 15, 191);
}
h2{
    color: #fbfcfd;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}
.useful-links{
    width:50px ;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.useful-links:hover{
   cursor: pointer;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -60px;
    position: absolute;
}
@keyframes bubble{
    0%{
       transform: translateY(0);
       opacity: 0;
    }
     50%{
    
       opacity: 0.5;
    }
    60%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
     70%{
    
       opacity: 0.5;
    }
     100%{
       transform: translateY(-80vh);
       opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 72px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 44px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 55px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 30px;;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 60px;
}
.bubbles img:nth-child(7){
    animation-delay: 4.3s;
    width: 07px;
}
.bubbles img:nth-child(8){
    animation-delay: 3.7s;
    width: 64px;
}
.bubbles img:nth-child(9){
    animation-delay: 1.7s;
     width: 28px;
}
.bubbles img:nth-child(10){
    animation-delay: 5.7s;
     width: 34px;
}
.bubbles img:nth-child(11){
    animation-delay: 6.8s;
     width: 29px;
}
.bubbles img:nth-child(12){
    animation-delay: 2.9s;
     width: 30px;
}
.bubbles img:nth-child(13){
    animation-delay: 4.8s;
    width: 33px;
}
.bubbles img:nth-child(14){
    animation-delay: 7s;
    width: 22px;
}
.bubbles img:nth-child(15){
    animation-delay: 3.5s;
    width: 19px;
}

